<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editar cliente</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="{{ url_for('static',     filename='css/style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static',     filename='images/logo_icon.ico') }}" type="image/x-icon">


</head>
<body>


    <header>
        <img style="width: 200px;" id="img_logo" class="logo_header"
        src="{{ url_for('static',     filename='images/connect.png') }}">
        
        <a href="/usuarios">
            <img class="logo_user" src="{{ url_for('static',     filename='images/voltar.png') }}">
        </a>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=notify>
        {% for category, message in messages %}
        <p class="{{ category }} mensagem_notify">{{ message }}</p>
        {% endfor %}
    </ul>
    <script>
        setTimeout(function () {
            document.querySelector('.notify').style.display = 'none';
        }, 6500);
    </script>
    {% endif %}
    {% endwith %}
    
    <form method="post">
        <div class="options_cadastro">
            <div class="formulario_cadastro">
                <h2>Editar Assinatura</h2>
                <p>{{ erro }}</p>
                <input value="{{ id }}" name="id" class="input_cadastro" type="text" disabled>
                <input value="{{ nome_cliente }}" name="cliente" class="input_cadastro" type="text" placeholder="Nome">
                <input value="{{ vencimento }}" name="vencimento" class="input_cadastro" type="datetime-local" id="date" required>
                <input value="{{ numero }}" name="numero" class="input_cadastro" type="text" id="numero" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);">
                <input value="{{ valor }}" name="valor" class="input_cadastro" type="number" placeholder="Valor">
                <input value="{{ plano }}" name="plano" class="input_cadastro" type="text" placeholder="Plano Atual">
    
                <button onclick="enviar()" class="btn_criarlogin">Editar Assinatura</button>
                <br><br>
    
            </div>
        </div>
    </form>



    <footer>
        <h2 class="logo_footer">@Leonardo Alberto</h2>
        
    </footer>


    
</body>
<script    src="{{ url_for('static',     filename='js/script.js') }}"></script>
</html>